<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cashewgames.inappupdate">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.InAppUpdate"
            android:value="com.cashewgames.inappupdate.InAppUpdate"/>
    </application>

</manifest>